In [7]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from bucketapi.bucket import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)

In [9]:
data = df.to_json()
filename = 'test.csv'

In [12]:
df = pd.read_json(data)
filename = filename

In [14]:
df.to_csv(filename, index=False)

In [17]:
res = Getbucket().post(filename=filename, data=data)

In [18]:
data = Getbucket().get(filename=filename)

In [20]:
pd.read_json(data)

   col1  col2
0     1     3
1     2     4